{% extends "main.html" %}

{% load static %}

{% block css %}

{% endblock css %}

{% block title %}
    Вход/Регистрация
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card-slider" id="gas_boiler_slider">
                    <div class="slider-header">
                        <h4 class="slider-header__h4">Газовые котлы</h2>
                        <div class="slider-header-box">
                            <div data-glide-el="controls[nav]" class="slider-control-items">
                                {% for product in boiler_list %}
                                    <button data-glide-dir="={{forloop.counter}}" class="slider-control-items__button btn btn-outline-secondary"></button>
                                {% endfor %}
                            </div>
                            <div data-glide-el="controls" class="slider-control">
                                <button data-glide-dir="<" class="slider-control__button">
                                    <span class="material-icons-round">
                                        chevron_left
                                    </span>
                                </button>
                                <button data-glide-dir=">" class="slider-control__button">
                                    <span class="material-icons-round">
                                        chevron_right
                                    </span>
                                </button>
                            </div>
                            <a href="{% url 'category_detail' boiler_list.0.category.slug %}" class="slider-header__button btn btn-outline-primary">Смотреть всё</a>
                        </div>
                    </div>
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for product in boiler_list %}
                                <li class="glide__slide">
                                    <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                        <div class="card-img-block">
                                            <img src="{{ product.get_main_image.url }}" class="card-img-top card-img" alt="{{ product.title }}">
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title">{{product.title }}</h6>
                                            <div class="card-info-block">
                                                <p class="card-text card-manufacturer">Производитель: Buran boiler</p>
                                                <p class="card-text card-category">Категория: Газовые котлы</p>
                                            </div>
                                            <div class="card-footer-block">
                                                <p class="card-price product_price">{{product.price}}</p>
                                                <div class="card-buttons">
                                                    <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                        <span class="material-icons-round">
                                                            favorite_border
                                                        </span>
                                                    </button>
                                                    <button class="btn btn-outline-primary">
                                                        Добавить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>                                            
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="store-box">
                    <div class="card-slider" id="gas_gorel_slider">
                        <div class="slider-header">
                            <h4 class="slider-header__h4">Газовые горелки</h2>
                            <div class="slider-header-box">
                                <div data-glide-el="controls[nav]" class="slider-control-items">
                                    {% for product in burners_list %}
                                        <button data-glide-dir="={{forloop.counter}}" class="slider-control-items__button btn btn-outline-secondary"></button>
                                    {% endfor %}
                                </div>
                                <div data-glide-el="controls" class="slider-control">
                                    <button data-glide-dir="<" class="slider-control__button">
                                        <span class="material-icons-round">
                                            chevron_left
                                        </span>
                                    </button>
                                    <button data-glide-dir=">" class="slider-control__button">
                                        <span class="material-icons-round">
                                            chevron_right
                                        </span>
                                    </button>
                                </div>
                                <a href="{% url 'category_detail' burners_list.0.category.slug %}" class="store-box__link btn btn-outline-primary">Смотреть всё</a>
                            </div>
                        </div>
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for product in burners_list %}
                                    <li class="glide__slide">
                                        <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                            <div class="card-img-block">
                                               <img src="{{ product.get_main_image.url }}" class="card-img-top card-img" alt="{{ product.title }}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{product.title }}</h6>
                                                <div class="card-info-block">
                                                    <p class="card-text card-manufacturer">Производитель: Buran boiler</p>
                                                    <p class="card-text card-category">Категория: Газовые котлы</p>
                                                </div>
                                                <div class="card-footer-block">
                                                    <p class="card-price product_price">{{product.price}}</p>
                                                    <div class="card-buttons">
                                                        <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                            <span class="material-icons-round">
                                                                favorite_border
                                                            </span>
                                                        </button>
                                                        <button class="btn btn-outline-primary">
                                                            Добавить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="login-form form-box">
                    <form class="form login-form-form" method="post" action=".">
                        {% csrf_token %}
                        
                        <div class="login-form-header">
                            <h3 class="login-form-header__title">Авторизация</h3>
                        </div>

                        <div class="form-item login-form-item">
                            <input type="text" required class="login-form__input" placeholder="Логин" name="login-username">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="password" required class="login-form__input" placeholder="Пароль" name="login-password">
                        </div>

                        <div class="login-form-footer">
                            <button class="btn btn-outline-primary form-button login-form__button">Войти</button>
                        </div>
                    </form>
                </div>
                <div class="signup-form login-form mt-4">
                    <div class="login-form-header">
                        <h3 class="login-form-header__title">Регистрация</h3>
                    </div>
                    <form class="form" method="post" action=".">
                        {% csrf_token %}
                        <div class="form-item login-form-item">
                            <input type="text" name="username"  placeholder="Логин" id="id_username" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="text" name="first_name"  placeholder="Имя" id="id_first_name" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="text" name="last_name"  placeholder="Фамилия" id="id_last_name" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="text" name="email"  placeholder="email" id="id_email" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="password" name="password1"  placeholder="Пароль" id="id_password1" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="password" name="password2"  placeholder="Повторите пароль" id="id_password2" class="login-form__input">
                        </div>
                        <div class="login-form-footer">
                            <button href="#" class="btn btn-outline-success form-button login-form__button">Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
    </div>
{% endblock content %}


{% block scripts %}
{% comment %} <script>
    $("input").addClass("form-control")
</script> {% endcomment %}
<script src="{% static 'js/login-signup.js' %}"></script>
<script src="{% static 'js/product-price.js' %}"></script>
{% endblock scripts %}