{% extends "main.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock css %}

{% block title %}
    Вход/Регистрация
{% endblock title %}

{% block content %}
    <div class="container">

        <div class="login-form">
            <h3>Авторизация</h3>
            <form class="form" method="post" action=".">
                {% csrf_token %}
                <div class="form-item">
                    <label class="form-label">Логин</label>
                    <input type="text" required class="form-contorl" name="login-username">
                </div>
                <div class="form-item">
                    <label class="form-label">Пароль</label>
                    <input type="password" required class="form-contorl" name="login-password">
                </div>
                <button class="btn btn-primary form-button">Авторизоваться</button>
            </form>
            Зарегистрировать
        </div>
        <div class="signup-form">
            <h3 class="form-header">Регистрация</h3>
            <form class="form" method="post" action=".">
                {% csrf_token %}
                <div class="form-item">
                    <label class="form-label">Логин</label>
                    {{signup_form.username}}
                </div>
                <div class="form-item">
                    <label class="form-label">Имя</label>
                    {{signup_form.first_name}}
                </div>
                <div class="form-item">
                    <label class="form-label">Фамилия</label>
                    {{signup_form.last_name}}
                </div>
                <div class="form-item">
                    <label class="form-label">Электронная почта</label>
                    {{signup_form.email}}
                </div>
                <div class="form-item">
                    <label class="form-label">Пароль</label>
                    {{signup_form.password1}}
                </div>
                <div class="form-item">
                    <label class="form-label">Повторите пароль</label>
                    {{signup_form.password2}}
                </div>
                <button class="form-button btn btn-success">Зарегистрировать</button>
            </form>
        </div>

    </div>
{% endblock content %}


{% block scripts %}
<script>
    $("input").addClass("form-control")
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>

    document.querySelectorAll('.product_price').forEach(function(el) {
            price = parseFloat(el.textContent);
            result = price.toLocaleString()
            result += ' ₸'
            el.textContent = result
    });

    $(document).ready(function(){

        var new_product_item = $('.new_product_item')
        var first_product_item = new_product_item[0]
        $(first_product_item).addClass('active') 

        $('.store-slider-content').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 3
        });
    })
</script>
{% endblock scripts %}