{% extends "main.html" %}

{% load static %}

{% block css %}

{% endblock css %}

{% block title %}
    Вход/Регистрация
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="login-form form-box">
                    <form class="form login-form-form" method="post" action=".">
                        {% csrf_token %}
                        
                        <div class="login-form-header">
                            <h3 class="login-form-header__title">Авторизация</h3>
                        </div>

                        <div class="form-item login-form-item">
                            <input type="text" required class="login-form__input" placeholder="Логин" name="login-username">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="password" required class="login-form__input" placeholder="Пароль" name="login-password">
                        </div>

                        <div class="login-form-footer">
                            <button class="btn btn-outline-primary form-button login-form__button">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="signup-form login-form mt-4">
                    <div class="login-form-header">
                        <h3 class="login-form-header__title">Регистрация</h3>
                    </div>
                    <form class="form" method="post" action=".">
                        {% csrf_token %}
                        <div class="form-item login-form-item">
                            <input type="text" name="username"  placeholder="Логин" id="id_username" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="text" name="first_name"  placeholder="Имя" id="id_first_name" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="text" name="last_name"  placeholder="Фамилия" id="id_last_name" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="text" name="email"  placeholder="email" id="id_email" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="password" name="password1"  placeholder="Пароль" id="id_password1" class="login-form__input">
                        </div>
                        <div class="form-item login-form-item">
                            <input type="password" name="password2"  placeholder="Повторите пароль" id="id_password2" class="login-form__input">
                        </div>
                        <div class="login-form-footer">
                            <button href="#" class="btn btn-outline-success form-button login-form__button">Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block scripts %}
{% comment %} <script>
    $("input").addClass("form-control")
</script> {% endcomment %}
<script src="{% static 'js/login-signup.js' %}"></script>
<script src="{% static 'js/product-price.js' %}"></script>
{% endblock scripts %}