@import "main_variables"
@import "base"
@import "index"
@import "product_list"
@import "product_detail"
@import "cart"

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600&display=swap');

@font-face
    font-family: SegoeUI; /* Гарнитура шрифта */
    src: url(../fonts/pompadur.eot); /* Для IE5-8 */
    src: local(SegoeUI), url(../fonts/segoeUI.ttf); /* Для остальных браузеров */

p, li, button, h1,h2,h3,h4,h5,h6, a, input
    font-family: -apple-system, BlinkMacSystemFont, "SegoeUI", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" 


.lh-1_5
    line-height: 1.5


.phone-visible
    display: none

.tablet-visible
    display: none 

.d-block
    display: block !important
    opacity: 1

.d-flex
    display: flex !important
    opacity: 1

.cart-btn
    position: relative
    &-counter
        position: absolute !important
        top: -6px !important
        right: -6px

.header-buttons__search-btn
    display: none

.header-buttons__menu-btn
    display: none

.slide
    border: 1px solid $gray
    border-radius: 4px

.banner-slider
    border: 1px solid $gray
    border-radius: 4px
    height: 360px
    &-slide
        &__banner
            max-width: 100%

.slider-product-card
    & > .card-img-block
        padding: 30px 0px
        display: flex
        align-items: center
        justify-content: center
        border-bottom: 1px solid $gray
    & > .card-img-block > .card-img
            width: 200px
            height: 200px
    .card-title
        white-space: nowrap; 
        overflow: hidden;
        margin-bottom: 0px
        text-overflow: ellipsis
    .card-price
        font-size: 18px
        margin-bottom: 0px
    .card-info-block
        margin: 20px 0px
        font-size: 15px
        & > .card-text
            margin-bottom: 4px
            color: $gray2
    .card-footer-block
        display: flex
        align-items: center
        justify-content: space-between
    .card-buttons
        display: flex
        justify-content: space-between
        &__favorite-btn
            display: flex
            align-items: center
            justify-content: center
            padding: 5px 7px
            margin-right: 4px
            & > span
                font-size: 22px

.slider-sm-header
    display: flex
    margin-bottom: 15px
    align-items: center
    border: 1px solid $gray
    border-radius: 4px
    &__title
        margin: 0px
        margin-left: 15px
        text-transform: uppercase
        font-size: 18px
    &__icon-box
        width: 60px
        border-radius: 4px
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $gray
        padding: 15px 10px

.footer
    background-color: $gray
    padding: 60px 0px
    &-container
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-wrap: wrap
    &-col
        margin-right: 80px
    &-links
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-basis: 60%
    &-logo-section
        & > .footer__logo
            display: block
            margin-bottom: 20px
        & > .footer__text
            margin-bottom: 20px


.slider-header
    padding: 15px 0px
    margin-bottom: 20px
    &__h4
        margin-bottom: 0
    display: flex
    align-items: center
    justify-content: space-between
    &-box
        display: flex
        align-items: center
        justify-content: space-between
    &__button
        margin-left: 8px
    .slider-control
        display: flex
        align-items: center
        justify-content: space-between
        margin-right: 8px
        padding-right: 4px
        padding-left: 4px
        border-right: 1px solid $gray
        border-left: 1px solid $gray
        &-items
            display: flex
            align-items: center
            justify-content: space-between
            margin-right: 8px
            &__button
                padding: 5px
                margin-right: 4px
                border-radius: 100px
        &__button
            border: none
            background: none
            display: flex
            padding: 5px


.login-form
    position: relative
    display: flex
    justify-content: space-between
    flex-direction: column
    border: 1px solid $gray
    border-radius: 4px
    padding: 0px
    &-header
        border-bottom: 1px solid $gray
        padding: 14px 0px
        &__title
            text-align: center
            margin-bottom: 0px
            font-size: 20px
            color: $gray2
    &-item
        margin-top: 0px
        border-bottom: 1px solid $gray
    &__input
        width: 100%
        border: 0px
        border-radius: 0px
        margin-top: 0px
        padding: 14px 25px
    &-footer
        display: flex
        flex-direction: column
        padding: 20px 
    &__button
        border-radius: 0px
        margin-bottom: 8px
        border-radius: 4px

    & > form
        display: flex
        justify-content: space-between
        flex-direction: column
    
.form-button
    padding: 10px 0px

.company-info
    border-radius: 4px
    padding: 20px
    border: 1px solid $gray
    &__h4
    &__p


@media screen and (max-width:1200px)
    .header-about
        flex-grow: 0
    .header-buttons__search-btn
            display: block
            margin-left: 0px
    .header-search
        display: none
        position: fixed
        z-index: 500
        width: 100%
        box-sizing: border-box
        left: 0
        bottom: 71px
        & > form
            position: relative
            & > .input-group
                box-shadow: 0 0 20px #1f1f1f17
                & > input, button
                    border-radius: 0

@media screen and (max-width:992px)
    .pc-visible
        display: none !important
    .tablet-visible
        display: block
    .main-row
        display: flex
        flex-direction: column-reverse
    .phone-visible
        display: block
    .header
        padding: 20px 0px
        &-top-desktop
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            padding: 50px 0px
            border-bottom: 1px solid #ccc
        &-buttons
            display: flex
            justify-content: space-between
            &-group
                display: flex
                margin-left: 10px
                align-items: center
                &__btn
                    display: flex
                    align-items: center
                    margin-left: 5px
                    line-height: 1.5
        &-menu
            display: none
            transition: all 0.1s ease-out 0.1s;
            height: stretch;
            overflow-y: auto;
            width: 100%
            height: 100%
            position: fixed
            z-index: 20
            box-sizing: border-box
            border-radius: 0px
            background-color: #fff !important
            padding-top: 20px
            padding-bottom: 71px
            margin-top: 0px
            bottom: 0
            left: 0px
            flex-direction: column
            align-items: center
            justify-content: space-around
            &__navbar
                &-ul
                    border: 1px solid #ccc
                    width: 100%
                    padding: 0px
                    flex-direction: column
                    margin: 30px 0px
                &-li
                    padding-left: 20px
                    border-bottom: 1px solid #ccc
                    &:last-child
                        border-bottom: none
                &-link
                    display: block
                    margin: 0px
                    padding: 15px 0px
                    color: rgb(84, 84, 84);
            &__logo
                display: flex
                justify-content: center
    
@media screen and (max-width:768px)
    .header-buttons__search-btn
        display: block

    .header-buttons__menu-btn
        display: block

@media screen and (max-width:508px)
    .tablet-visible
        display: none !important
    .header-buttons-group_login-register
        display: none !important


@media screen and (max-width:340px)
    .header-buttons-group_cart-wish
        display: none









