@import "main_variables"
@import "base"
@import "index"
@import "product_list"
@import "product_detail"
@import "login_signup"
@import "cart"

// Вспомогательные классы

.lh-1_5
    line-height: 1.5


// Всякое

.cart-btn
    position: relative
    &-counter
        position: absolute !important
        top: -6px !important
        right: -6px















