{% extends 'main.html' %}

{% load static %}

{% block css %}
{% endblock css %}


{% block title %} {{ product.category }} {{ product.title }}   {% endblock title %}

{% block content %}
<div id="productapp">
    <div class="container">
        <div class="col-lg-12">
            <div class="product-details">
                <div class="row mb-4">
                    <div class="col-md-7">
                        <div class="image-gallery">
                            <div class="image-gallery-header">
                                {% for image in product.get_image_gallery %}
                                    {% if forloop.first %}
                                        <img class="image-gallery__image" src="{{ image.medium_image.url }}" alt="{{ image.product.title }}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="image-gallery-thumbnails">
                                {% for image in product.get_image_gallery %}
                                    <img class="image-gallery__image"src="{{ image.medium_image.url }}" alt="{{ image.product.title }}">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="product-info">
                            <div class="product-info-header">
                                <h5 class="product-info__title">{{ product.title }}</h5>
                                <span class="product-info__category"> <a href="{% url 'category_detail' product.category.slug %}">{{ product.category }} </a></span>
                                <p class="product-info__price product_price">{{ product.price }}</p>
                                <p class="product-info__description">{{ product.description }}</p>
                            </div>
                            <div class="product-info-footer">
                                <div class="input-group more-less-input">
                                    <button class="btn btn-outline-primary minus more-less-input__minus">-</button>
                                    <input class="count-input more-less-input__input" type="text" class="form-control" value="1" required aria-label="Username">
                                    <button class="btn btn-outline-primary plus more-less-input__plus">+</button>
                                </div>
                                <div class="input-group">
                                    <button class="btn product-info__cart-btn" data-id="{{ product.id }}">
                                        <span class="">
                                            Добавить
                                        </span>
                                        <span class="material-icons-round lh-1_5">
                                            shopping_cart
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Дополнительно
                                </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="product-details__detail-description">
                                            {{ product.detail_description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Характеристики
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="review">
                            <div class="review-header">
                                
                                <h5 class="review__name">Валерий Тихунов</h5>
                                <span class="review__">Очень хорошо</span>
                            </div>
                            <p class="review__text">{{ product.description }}</p>
                            <div class="review-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %}


{% block scripts %}



<script>
    $('.plus').on('click', function(){
        var value = parseInt($('.count-input').val())
        value += 1
        $('.count-input').val(value)
    })

    $('.minus').on('click', function(){
        var value = parseInt($('.count-input').val())
        if (value != 1){
            value -= 1
        }
        $('.count-input').val(value)
    })

    $('.product-info__cart-btn').on('click', function(){
        product_id = $(this).attr('data-id')
        count = parseInt($('.count-input').val())

        if(count===0){ count = paseInt(1) }

        data = {
            product_id: product_id,
            count: count
        }

        $.ajax({
            type: 'GET',
            url: "{% url 'api_add_to_cart' %}",
            data: data,
            success: function(data){
                console.log('success')
                $.ajax({
                    type: 'GET',
                    url: "{% url 'api_cart_get_total_length' %}",
                    success: function(response){
                        var resp = response
                        $('.cart-btn-counter').html(resp.total_length)
                    }
                })
            }
        })
    })
</script>

<script src="{% static 'js/product-price.js' %}"></script>
{% endblock %}