{% extends 'main.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock css %}

{% block title %}
    Магазин
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row mb-2">
             <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Магазин</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row flex-column-reverse flex-lg-row">

            <div class="col-lg-3">
                {% include 'category_menu.html' %}
            </div>

            <div class="col-lg-9">
                <div class="store-product-area">
                    <div class="row">
                       
                        {% for product in object_list %}
                         <div class="col-lg-4 col-md-6 mb-4">
                            {% comment %} <div class="store-product-area-item">
                                <div class="store-product-area-item__image-box">
                                    <a href="{% url 'product_detail' product.category.slug product.slug %}" class="store-product-area-item__image-link">
                                        <img class="store-product-area-item__image" src="{{ product.image.url }}" alt="{{ product.title }}">
                                    </a>
                                    <a href="{% url 'product_detail' product.category.slug product.slug %}" class="btn btn-primary store-product-area-item__button">Подробнее</a>
                                </div>
                                <div class="store-product-area-item__price-box">
                                    {% if product.old_price %}
                                    <span class="store-product-area-item__old-price product_price">{{ product.old_price }} ₸</span>
                                    {% endif %}
                                    <span class="store-product-area-item__price product_price">{{ product.price }} ₸</span>
                                </div>
                                <a href="{% url 'product_detail' product.category.slug product.slug %}" class="store-product-area-item__title">
                                    Газовый котёл {{ product.title }}
                                </a>
                            </div> {% endcomment %}
                            <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                <div class="card-img-block">
                                    <img src="{{ product.get_main_image.url }}" class="card-img-top card-img" alt="{{ product.title }}">
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title">{{product.title }}</h6>
                                    <div class="card-info-block">
                                        <p class="card-text card-manufacturer">Производитель: {{product.manufacturer}}</p>
                                        <p class="card-text card-category">Категория: {{ product.category }}</p>
                                    </div>
                                    <div class="card-footer-block">
                                        <p class="card-price product_price">{{product.price}}</p>
                                        <div class="card-buttons">
                                            <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                <span class="material-icons-round">
                                                    favorite_border
                                                </span>
                                            </button>
                                            <button class="btn btn-outline-primary">
                                                Добавить
                                            </button>
                                        </div>
                                    </div>
                                </div>                                            
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        
                        {% for number in paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{number}}">{{number}}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
{% endblock content %}


{% block scripts %}
<script>
    var num = $('.product_price').html()
    var num = parseFloat(num)
    var result = num.toLocaleString();
    var num = $('.product_price').html(result + ' &#8376')
</script>

{% endblock scripts %}