{% load static %}

<div class="container">
    <div class="header-top-desktop">
        <div class="row header-top align-items-center">
            <div class="col-lg-3">
                <div class="header-top__col">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/klimat7-logo.png' %}" alt="Климат7 логотип">
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-9 header-top__col">
                        <form method="get" action="{% url 'search' %}">
                            <div class="header-top__search-input input-group">
                                <input type="text" class="form-control search-input" placeholder="Поиск" name="query"">
                                <button class="btn btn-primary search-input__btn" type="submit">Найти</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 header-top__col">
                        <div class="header-top__nav">
                            <div class="header-top__nav-cart header-top__nav-item">
                                <a href="{% url 'cart' %}">
                                    <img src="{% static 'images/shopping-cart.svg' %}" width="25px" alt="">
                                    <div class="cart-items">
                                        <span class="cart-items__span">{{ cart.get_total_length }}</span>
                                    </div>
                                </a>
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="header-top__nav-user header-top__nav-item">
                                    <!-- Example split danger button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">{{request.user}}</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <div class="header-top__nav-login header-top__nav-item">
                                    <a href="{% url 'login-signup' %}">
                                        <img src="{% static 'images/login.svg' %}" width="25px" alt="Вход/регистрация">
                                    </a>
                                </dov>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-top-mobile">
        <div class="row header-top align-items-center">
            <div class="col-lg-12">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="header-top__col">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'images/klimat7-logo.png' %}" alt="Климат7 логотип">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 header-top__col">
                        <div class="header-top__nav">
                            <div class="header-top__nav-cart header-top__nav-item">
                                <a href="{% url 'cart' %}">
                                    <img src="{% static 'images/shopping-cart.svg' %}" width="25px" alt="">
                                    <div class="cart-items">
                                        <span class="cart-items__span">{{ cart.get_total_length }}</span>
                                    </div>
                                </a>
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="header-top__nav-user header-top__nav-item">
                                    <!-- Example split danger button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">{{request.user}}</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <div class="header-top__nav-user header-top__nav-item">
                                    <a href="{% url 'login-signup' %}">
                                        <img src="{% static 'images/login.svg' %}" width="25px" alt="Вход/регистрация">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <form method="get" action="{% url 'search' %}">
                    <div class="header-top__search-input input-group">
                        <input type="text" class="form-control search-input" placeholder="Поиск" name="query"">
                        <button class="btn btn-primary search-input__btn" type="submit">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






{% block scripts %}
    
{% endblock scripts %}