{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div class="container">
        
        <div class="row">
            <div class="col-lg-9">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/images/banner.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <div class="input-group">
                                    <button class="btn btn-primary">Получить скидку</button>
                                    <div class="input-group-text" id="btnGroupAddon">@</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/images/banner.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/images/banner.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row main-row">
            <div class="col-lg-6">
                <div class="new-arrival-slide left-side-slider">
                    <div class="slider-sm-header">
                        <div class="slider-sm-header__icon-box bg-primary text-white">
                            <div class="slider-sm-header__icon-text">
                                NEW
                            </div>
                        </div>
                        <h4 class="slider-sm-header__title">Новое поступление</h4>
                    </div>
                    
                    <div class="left-side-sliders" id="new-arriwal-slider">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for product in new_product_list %}
                                    <li class="glide__slide">
                                        <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                            <div class="card-img-block">
                                                <img src="{{ product.image.url }}" class="card-img-top card-img" alt="{{ product.title }}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{product.title }}</h6>
                                                <div class="card-info-block">
                                                    <p class="card-text card-manufacturer">Производитель: Buran boiler</p>
                                                    <p class="card-text card-category">Категория: Газовые котлы</p>
                                                </div>
                                                <div class="card-footer-block">
                                                    <p class="card-price product_price">{{product.price}}</p>
                                                    <div class="card-buttons">
                                                        <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                            <span class="material-icons-round">
                                                                favorite_border
                                                            </span>
                                                        </button>
                                                        <button class="btn btn-outline-primary">
                                                            Добавить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="reccomendation-slide left-side-slider">
                     <div class="slider-sm-header">
                        <div class="slider-sm-header__icon-box bg-danger text-white">
                            <span class="material-icons-round">
                                local_fire_department
                            </span>
                        </div>
                        <h4 class="slider-sm-header__title">Рекомендуем</h4>
                    </div>
                    <div class="left-side-sliders" id="top-slider">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for product in new_product_list %}
                                    <li class="glide__slide">
                                        <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                            <div class="card-img-block">
                                                <img src="{{ product.image.url }}" class="card-img-top card-img" alt="{{ product.title }}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{product.title }}</h6>
                                                <div class="card-info-block">
                                                    <p class="card-text card-manufacturer">Производитель: Buran boiler</p>
                                                    <p class="card-text card-category">Категория: Газовые котлы</p>
                                                </div>
                                                <div class="card-footer-block">
                                                    <p class="card-price product_price">{{product.price}}</p>
                                                    <div class="card-buttons">
                                                        <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                            <span class="material-icons-round">
                                                                favorite_border
                                                            </span>
                                                        </button>
                                                        <button class="btn btn-outline-primary">
                                                            Добавить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="store-box">
                    <div class="store-box__header">
                        <h4 class="store-box__h4">Газовые котлы</h2>
                        <a href="{% url 'category_detail' boiler_list.0.category.slug %}" class="store-box__link">Смотреть всё</a>
                    </div>
                    <div class="store-box__slider" id="gas_boilers_slider">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for product in boiler_list %}
                                    <li class="glide__slide">
                                        <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                            <div class="card-img-block">
                                                <img src="{{ product.image.url }}" class="card-img-top card-img" alt="{{ product.title }}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{product.title }}</h6>
                                                <div class="card-info-block">
                                                    <p class="card-text card-manufacturer">Производитель: Buran boiler</p>
                                                    <p class="card-text card-category">Категория: Газовые котлы</p>
                                                </div>
                                                <div class="card-footer-block">
                                                    <p class="card-price product_price">{{product.price}}</p>
                                                    <div class="card-buttons">
                                                        <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                            <span class="material-icons-round">
                                                                favorite_border
                                                            </span>
                                                        </button>
                                                        <button class="btn btn-outline-primary">
                                                            Добавить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="store-box">
                    <div class="store-box__header">
                        <h4 class="store-box__h4">Газовые горелки</h2>
                        <a href="{% url 'category_detail' boiler_list.0.category.slug %}" class="store-box__link">Смотреть всё</a>
                    </div>
                    <div class="store-box__slider" id="gas_gorel_slider">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for product in boiler_list %}
                                    <li class="glide__slide">
                                        <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                            <div class="card-img-block">
                                                <img src="{{ product.image.url }}" class="card-img-top card-img" alt="{{ product.title }}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{product.title }}</h6>
                                                <div class="card-info-block">
                                                    <p class="card-text card-manufacturer">Производитель: Buran boiler</p>
                                                    <p class="card-text card-category">Категория: Газовые котлы</p>
                                                </div>
                                                <div class="card-footer-block">
                                                    <p class="card-price product_price">{{product.price}}</p>
                                                    <div class="card-buttons">
                                                        <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                            <span class="material-icons-round">
                                                                favorite_border
                                                            </span>
                                                        </button>
                                                        <button class="btn btn-outline-primary">
                                                            Добавить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/product-price.js' %}"></script>
{% endblock scripts %}